[submodule "DataDashboard"]
	path = DataDashboard
	url = https://github.com/johannha/DataDashboard.git
	branch = demo_v1
[submodule "edc-interface"]
	path = edc-interface
	url = https://github.com/johannha/edc-interface.git
	branch = demo_v1
[submodule "Samples-Blockchain"]
	path = Samples-Blockchain
	url = https://github.com/JulianLegler/Samples-Blockchain
