[submodule "EDC-Blockchain-Dashboard"]
	path = EDC-Blockchain-Dashboard
	url = ../edc-dashboard
[submodule "EDC-Blockchain-Interface"]
	path = EDC-Blockchain-Interface
	url = https://github.com/GAIA-X4PLC-AAD/EDC-Blockchain-Interface.git
[submodule "EDC-Blockchain-Catalog"]
	path = EDC-Blockchain-Catalog
	url = ../edc-blockchain
